<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
	</typeAliases>
	<mappers>
		<!-- common -->
		<mapper resource="com/huizhi/dass/manager/dao/mybatis/common_SqlMap.xml" />
		
		<mapper resource="com/huizhi/dass/manager/dao/mybatis/AdminDAO.xml" />
		<mapper resource="com/huizhi/dass/manager/dao/mybatis/AdminMenuDAO.xml" />
		<mapper resource="com/huizhi/dass/manager/dao/mybatis/MenuDAO.xml" />
		<mapper resource="com/huizhi/dass/manager/dao/mybatis/RoleDAO.xml" />
		<mapper resource="com/huizhi/dass/manager/dao/mybatis/RoleDefaultMenuDAO.xml" />
		<mapper resource="com/huizhi/dass/manager/dao/mybatis/CityDAO.xml" />
		
		
		<!-- operation -->
		<mapper resource="com/huizhi/dass/operation/dao/mybatis/LoginLogDAO.xml" />
		<mapper resource="com/huizhi/dass/operation/dao/mybatis/OnlineInfoDAO.xml" />
		<mapper resource="com/huizhi/dass/operation/dao/mybatis/GameDAO.xml" />
		<mapper resource="com/huizhi/dass/operation/dao/mybatis/ChannelDAO.xml" />
		<mapper resource="com/huizhi/dass/operation/dao/mybatis/RetentionInfoDAO.xml" />
		<mapper resource="com/huizhi/dass/operation/dao/mybatis/RechargeLogDAO.xml" />
		<mapper resource="com/huizhi/dass/operation/dao/mybatis/DayRechargeInfoDAO.xml" />
		
	</mappers>
</configuration>
